{% extends "base.html" %}
{% block title %} 
    Admin Dashboard
{% endblock %}


{% block link %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin.css')}}">
{% endblock %}

{% block content %}
    <header class="dashboard-header">
            <div class="header-left">
                <h1>{{first_name}}'s Dashboard</h1>
                <p>Welcome back, Admin</p>
            </div>
            <div class="header-right">
                <input type="search" placeholder="Search patients..." />
                <button  id="logoutbutton" type="button" >Log Out</button> 
            </div>
    </header>

    <section class="stats-cards">
            <div class="statbox">
                <div class="statboxupper">
                    <h4 class="icon"><i class="fa-solid fa-user-doctor stat-icon"></i></h4>
                    <div class="statdetails">
                        <h4>Registered Doctors</h4>
                        <h5>{{total_doctors}}</h5> 
                    </div>
                    <button id="registerbutton">Register Doctor</button>   
                </div>
                <div class="statboxlower">
                    {% for doctor in doctors %}
                        <div class="divlist" >
                            <h6>{{doctor.first_name}}</h6>
                            <div class="doclistbutton">
                                <button style="color: rgb(255, 255, 3); background-color: rgba(227, 227, 54, 0.1); border: 2px solid yellow ">edit</button>
                                <button style="color: rgb(249, 11, 11); background-color: rgb(255, 2, 2,0.2); border: 2px solid red ">delete</button>
                                <button style="color: black; background-color: rgb(4, 3, 3,0.1);">blacklist</button>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>
              
           
                
            
            
            
            <div class="statbox">
                <div class="statboxupper">
                    <h4 class="icon"><i class="fa-solid fa-user-group stat-icon"></i></h4>
                    <div class="statdetails">
                        <h4>Registered Patients</h4>
                        <h5>{{total_patients}}</h5>
                    </div>
                    <button id="registerbutton">Register Patient</button> 
                </div>
                <div class="statboxlower">
                    {% for patient in patients %}
                        <div class="divlist" >
                            <h6>{{patient.first_name}}</h6>
                            <div class="doclistbutton">
                                <button style="color: rgb(255, 255, 3); background-color: rgba(227, 227, 54, 0.1); border: 2px solid yellow ">edit</button>
                                <button style="color: rgb(249, 11, 11); background-color: rgb(255, 2, 2,0.2); border: 2px solid red ">delete</button>
                                <button style="color: black; background-color: rgb(4, 3, 3,0.1);">blacklist</button>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>
            
            
                
            
            
            <div class="statbox appointments">
                <div class="statboxupper appointmentupper">
                    <h4 class="icon"><i class="fa-regular fa-calendar-check stat-icon"></i></h4>
                    <div class="statdetails">
                        <h4>Today's Appointments</h4>
                        
                    </div>
                </div>
                <div class="statboxlower appointmentlower">
                    <table border="1">
                            <tr>
                                <th>S.NO.</th>
                                <th>Appointment ID</th>
                                <th>Doctor Name</th>
                                <th>Patient Name</th>
                                <th>Department</th>
                                <th>Patient History</th>
                            </tr>
                        {% for appointment in Appointments %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{appointment.appointment_id}}</td>
                                <td>{{appointment.doctor.first_name}}</td>
                                <td>{{appointment.patient.first_name}}</td>
                                <td>{{appointment.department.department_name}}</td>
                                <td><button class="patienthistorybutton" data-patient-id="{{appointment.patient_id}}" data-doctor-id="{{appointment.doctor_id}}">View</button></td>
                            </tr>
                            
                        {%endfor%}
                    </table>
                </div>
            </div>
                     
    </section>

    <section class="additional-cards">

        <div class="lowercards adddoctor">
                <div class="doctor-icon">
                    <img src="https://cdn-icons-png.flaticon.com/512/387/387561.png" alt="Doctor Icon" />
                </div>

                <div class="doctor-form">
                    <h2>Register a new Doctor</h2>
                    <form method="POST">
                        <div class="name-fields">
                            <input type="text" name="doctor_first_name" placeholder="First Name" required />
                            <input type="text" name="doctor_last_name" placeholder="Last Name" required />
                        </div>
                        <input type="text"   name="username" placeholder="username" required />
                        <input type="password" name="password" placeholder="Password" required />
                        <input type="date"  name="DOB" placeholder="Date of Birth"  />
                        <input type="text"  name="doctor_department" placeholder="Specialization" required />
                        <button type="submit">Register</button>
                    </form>
                </div>

        </div>

        <div class="lowercards patienthistory">
                <div class="patienthistoryheader">
                    <h4>Patient History</h4>
                    <button id="back-btn">Back</button>
                </div>
                

                <div>
                    <div class="appointmentdetails">
                        <h5>Doctor Name :</h5>
                        <h6 id="doctorname"></h6>
                    </div>
                    
                    <div class="appointmentdetails">
                        <h5>Patient Name :</h5>
                        <h6 id="patientname"></h6>
                    </div>
                    <div class="appointmentdetails">
                        <h5>Department :</h5>
                        <h6 id="departmentname"></h6>
                    </div>
                </div>

                <div class="historydata">
                    <table>
                        <thead>
                            <tr>
                                <th>Visit No.</th>
                                <th>Visit Type</th>
                                <th>Test Done</th>
                                <th>Diagnosis</th>
                                <th>Prescription</th>
                                <th>Notes</th>
                            </tr>
                        </thead>

                        <tbody id="patienthistorytable">

                        </tbody>
                    </table> 
                </div>

        </div>

    </section>

    {% block js %}
    <script src="{{url_for('static',filename='js/admin.js')}}"></script>
    {% endblock %}



    




{% endblock %}