{% extends "base.html" %}
{% block title %}Log in {% endblock %}



{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}


{% block content %}
   <div id="container">
     <div id="leftside">
      
     </div>

     <div id="rightside">
          <div id="formcontainer" >
               <div id="heading">
                    <h1>Enter Details</h1>
               </div>
               <form method="POST" >
                    <div class="inputboxes">
                              <div class="input-row">
                                   <i class="fa fa-user"></i>
                                   <input class="loginboxes" type="text" name="username" placeholder="Username">
                              </div>
                              
                              <div class="input-row">
                                   <i class="fa fa-lock"></i>
                                   <input class="loginboxes" type="password" name="password" placeholder="Password">
                              </div>

                              <input id="submitbutton" type="submit" value="LOG IN">
                    </div>
               </form>

               <div id="signuplinkup">
                    <h4>Not Registered => </h4>
                    <a href="{{url_for('controllers.signup')}}" >Sign Up</a>
               </div>

               <div>
                    {% with messages= get_flashed_messages(with_categories=true) %}
                         {% if messages %}
                              {% for category, message in messages %}
                                   <div class="alert alert-{{category}}">
                                        {{message}}
                                   </div>
                              {% endfor%}
                         {% endif %}        
                    {% endwith %}        
               </div>
          </div>




     </div>
   

   </div>


{% endblock %}