{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/signup.css')}}">
{% endblock %}


{% block content %}
   <div id="container">
      <div id="leftside">
      
      </div>

      <div id="rightside">
          <div id="formcontainer" >
               <div id="heading">
                    <h1>Enter Details</h1>
               </div>
               <form method="POST" action="{{url_for('controllers.signup')}}" >
                    <div class="inputbox">
                              <div class="name">
                                   <div class="input-row">
                                        <i class="fa fa-user"></i>
                                        <input class="loginboxes" type="text" name="firstname" placeholder="Firstname">
                                   </div>
                                   <div class="input-row">
                                        <i class="fa fa-user"></i>
                                        <input class="loginboxes" type="text" name="lastname" placeholder="Lastname">
                                   </div>
                              </div>
                              <div class="input-row">
                                   <i class="fa fa-user"></i>
                                   <input class="loginboxes" type="text" name="username" placeholder="Username">
                              </div>
                              
                              <div class="input-row">
                                   <i class="fa fa-lock"></i>
                                   <input class="loginboxes" type="password" name="password" placeholder="Password">
                              </div>

                              <input id="submitbutton" type="submit" value="Register"/>
                    </div>
               </form>

               <div id="signuplinkup">
                    <h4>Registered =></h4>
                    <a href="{{url_for('controllers.login')}}">Log in</a>
               </div>
               

          </div>
      </div>
   

   </div>
{% endblock %}